<%- include("./parts/navbar.ejs" , {title : 'Auth',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt, stylesheets:['/css/auth.css']})%>

<div class="forms-section">
  <div class="forms-wrapper">
    <div class="form login">
      <form id="login-form">
        <h2><%= lgn %></h2>
        <div class="input-group">
          <input type="text" name="name_email" />
          <label><%= nmEm %></label>
        </div>
        <div class="input-group">
          <input type="password" name="password" class="password" />
          <i class="password-toggle-icon fas fa-eye"></i>
          <label><%= ps %></label>
          <span class="l-n"><%= psN %></span>
        </div>
        <p class="check">
          <input type="checkbox" name="remember" /><%= rm %>
        </p>
        <button type="submit" class="btn" id="login-btn"><%= lgBtn %></button>
        <a class="login-forgot-password-a" href="/auth/forgot-password"><%= frg %></a>
        <p class="login-btm-link">
          <%= dnt %><a class="login-btm-link-a"><%= snp %></a>
        </p>
      </form>
    </div>

    <div class="form sign-up">
      <form id="signup-form">
        <h2><%= snpT %></h2>
        <div class="input-group">
          <input type="text" name="name" />
          <label><%= nm %></label>
          <span class="l-n"></span>
        </div>
        <div class="input-group">
          <input type="password" name="password" class="password" />
          <i class="password-toggle-icon fas fa-eye"></i>
          <label><%= psw %></label>
          <span class="l-n"><%= pswN %></span>
        </div>
        <div class="input-group">
          <input type="password" name="key" class="password" />
          <i class="password-toggle-icon fas fa-eye"></i>
          <label><%= sc %></label>
          <span class="l-n"><%= sc_nt1 %><br />
            <span><%= sc_nt2 %></span>
          </span>
        </div>
        <p class="check">
          <input type="checkbox" name="accept_terms" /><%= trm1 %>
          <a href="/auth/terms-conditions"><%= trm2 %></a>
        </p>
        <button type="submit" class="btn" id="signup-btn"><%= snpB %></button>
        <p class="signup-btm-link">
          <%= hv %><a class="signup-btm-link-a"><%= lgnN %></a>
        </p>
      </form>
    </div>
  </div>

  <div class="img-wrap">
    <img src="/gold-star.png" style="pointer-events: none" />
  </div>
</div>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts:['/js/auth.js'] })%>