<%- include("./parts/navbar.ejs" , {title : 'Deposit',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,stylesheets:['https://cdn.cryptofonts.com/1.3.5/cryptofont.css','/css/spinner.css','/css/deposit.css']}) %>


<div class="deposit-buttons">

  <% if (locals.wallets_currencies) { %>

  <% Object.keys(wallets_currencies).forEach(key => { %>


  <% if (wallets_currencies[key]['isCrypto'] == true) { %>

  <a href="/deposit/cur_type/<%= wallets_currencies[key]['name'] %>" class="deposit_btn">
    <img src="<%= wallets_currencies[key]['img'] %>" />
    <%= key %>
  </a>

  <% } %>

  <% }) %>

  <% } %>

</div>


<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/deposit.js'] })%>