<%- include("./parts/navbar.ejs" , {title : 'Edit Conversion Rates',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt,stylesheets:['/css/simplebar.css','/css/edit_conversion_rates.css']}) %>

<div class="main_wrapper">

  <% if (locals.ratesObject){ %>

  <% Object.entries(ratesObject).forEach(entry => { %>

  <span class="rate_wrap">
    <span class="cur_type"><%= entry[0] %></span>
    <span class="rate"><%= entry[1] %></span>
    <input type="text" name="edit_rate" placeholder="edit rate">
    <button class="edit_rate_btn">Edit</button>
    <button class="remove_btn">rem</button>
  </span>

  <% }) %>

  <% } %>

</div>


<button class="add_new_rate_btn">Add New</button>

<!-- BEGIN new_rate_modal -->
<% if (locals.cur_types_array) { %>
<div class="new_rate_modal" style="display: none;">
  <% cur_types_array.forEach(cur_type => { %>
  <input type="radio" id="cur_type_<%= cur_types_array.indexOf(cur_type) %>" name="cur_type" value="<%= cur_type %>" />
  <label for="cur_type_<%= cur_types_array.indexOf(cur_type) %>"><%= cur_type %></label>
  <% }) %>
  <input type="text" name="conversion_rate" placeholder="conversion rate">
  <button id="cnf_add_conversion_rate">add conv rate</button>
</div>
<% } %>
<!-- END new_rate_modal -->


<%- include("./parts/footer.ejs" ,
{showScroller:false,scripts: ['/js/simplebar.min.js'], moduleScripts: ['/js/edit_conversion_rates.js'] })%>