<%- include("./parts/navbar.ejs" , {title : `${tit}`,showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt,stylesheets:['/css/forgot-password.css']})%>

<div class="email-me">
  <fieldset>
    <legend><%= tit %></legend>
    <form id="send_email">
      <input type="email" name="email" placeholder="<%= sep %>" />
      <button type="submit"><%= se %></button>
    </form>
  </fieldset>
</div>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts:['/js/forgot-password.js'] })%>