<%- include("./parts/navbar.ejs" , {title : 'My Account',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,stylesheets:['/css/myaccount.css']}) %>

<% if (locals.user && locals.memImg) { %>

<div class="wrapper">

  <div class="personal_info">
    <div class="img_wrap">
      <img class="profile" src="/account-mst.png" alt="">
      <img class="vip" src="<%= memImg %>">
    </div>
    <div class="personal_data">
      <span class="name"><span class="pre_span">Name : </span><%= user.name %></span>
      <div class="em">
        <span class="email"><span class="pre_span">Email : </span><%= user.email %></span>
        <button id="edit_email_btn"><img src="/edit.svg" alt="Edit Email"></button>
      </div>
    </div>
  </div>

  <h2 class="wallets_head">My Wallets</h2>
  <div class="wallets_wrapper">

    <% user.wallets.forEach(wallet => { %>

    <div class="wallet_container">
      <div class="cur_data">
        <img src="<%= wallet.img %>" />
        <span class="cur_type"><%= wallet.currency %></span>
      </div>
      <div class="amount_div">
        <span>Available : </span><span class="cur_amount"> <%= wallet.available %> </span>
      </div>
      <div class="btns">
        <a href="/withdraw/cur_type/<%= wallet.currency %>" class="withdraw">withdraw</a>
        <a href="/deposit/cur_type/<%= wallet.currency %>" class="deposit">deposit</a>
        <a href="/transfer/cur_type/<%= wallet.currency %>" class="transfer">transfer</a>
      </div>
    </div>

    <% }) %>

  </div>
</div>
<% } %>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/myaccount.js'] })%>