<%- include('./parts/navbar.ejs',{title : "reset password" ,showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt, stylesheets : ['/css/reset-password.css']}) %>

<div class="reset-container">
  <form id="reset-form" class="reset-form">
    <div id="pin-div" class="pin-div">
      <span><%= cd %></span>

      <% for (let i = 0; i < pin_length ; i++){ %>
      <input />
      <% } %>
    </div>
    <div class="input-group">
      <input type="password" class="pass" />
      <i class="password-toggle-icon fas fa-eye"></i>
      <label><%= np %></label>
      <span class="l-n"><%= np_note %></span>
    </div>
    <button type="submit" class="reset-pass"><%= rp %></button>
  </form>
</div>

<%- include('./parts/footer.ejs' ,
{showScroller:false,moduleScripts : ['/js/reset-password.js']} ) %>