<%- include("./parts/navbar.ejs" , {title : `${p_tit} ${locals.membership.type}`,showScroller:false,
isLoggedIn : locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin?
isAdmin : false
,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt,stylesheets:['/css/simplebar.css','/css/specific_upgrade.css']})
%>

<div class="main_wrapper">

  <% if (locals.membership) { %>

  <div class="head_wrap">
    <img class="head_img" src="<%= membership.img %>" alt="<%= membership.type %>">
    <span class="head_fee"><%= usdt_price %><span class="post_fee"> USDT | </span><%= btc_price %><span class="post_fee"> BTC | </span><%= eth_price %><span class="post_fee"> ETH</span></span>
    <span class="vip_type" style="display: none;"><%= membership.type %></span>
  </div>


  <div class="payment_wrap">

    <div class="usdt_pay">
      <span class="hd_title"><%= pay_with %> USDT</span>
      <div class="wallet_container">
        <div>
          <img src="<%= usdt_img %>" />
        </div>
        <div class="networks">
          <% usdt_networks_names.forEach(nameObj => { %>
          <span class="network"><%= nameObj.name %></span>
          <% }) %>
        </div>
      </div>
      <button class="pay"><%= only_pay_wrd %> ( <%= usdt_price %> USDT )</button>
      <span class="cur_type" style="display: none;"><%= usdt_cur_type %></span>
      <span class="price" style="display: none;"><%= usdt_price %></span>
    </div>


    <div class="eth_pay">
      <span class="hd_title"><%= pay_with %> ETH</span>
      <div class="wallet_container">
        <div>
          <img src="<%= eth_img %>" />
        </div>
        <div class="networks">
          <% eth_networks_names.forEach(nameObj => { %>
          <span class="network"><%= nameObj.name %></span>
          <% }) %>
        </div>
      </div>
      <button class="pay"><%= only_pay_wrd %> ( <%= eth_price %> ETH )</button>
      <span class="cur_type" style="display: none;"><%= eth_cur_type %></span>
      <span class="price" style="display: none;"><%= eth_price %></span>
    </div>


    <div class="btc_pay">
      <span class="hd_title"><%= pay_with %> BTC</span>
      <div class="wallet_container">
        <div>
          <img src="<%= btc_img %>" />
        </div>
        <div class="networks">
          <% btc_networks_names.forEach(nameObj => { %>
          <span class="network"><%= nameObj.name %></span>
          <% }) %>
        </div>
      </div>
      <button class="pay"><%= only_pay_wrd %> ( <%= btc_price %> BTC )</button>
      <span class="cur_type" style="display: none;"><%= btc_cur_type %></span>
      <span class="price" style="display: none;"><%= btc_price %></span>
    </div>

  </div>

  <% } %>

</div>


<div id="snackbar">copied</div>


<%- include("./parts/footer.ejs" ,
{showScroller:false, scripts: ['/js/simplebar.min.js'] ,moduleScripts: ['/js/specific_upgrade.js'] })%>