<%- include("./parts/navbar.ejs" , {title : `Deposit ${locals.cur_type}`,showScroller:false,
isLoggedIn : locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin?
isAdmin : false
,stylesheets:['/css/simplebar.css','https://cdn.cryptofonts.com/1.3.5/cryptofont.css','/css/spinner.css','/css/specific_deposit.css']})
%>

<% if (locals.networks && locals.cur_type && locals.curImg) { %>

<div class="main-container">

  <div class="head-div">
    <button class="back-btn">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <h2 id="page-title" class="page-title">Deposit</h2>
    <button class="history-btn" title="deposit history">
      <i class="fas fa-history"></i>
    </button>
  </div>

  <div class="currency_container">
    <img src="<%= curImg %>" />
    <span class="cur_type"><%= cur_type %></span>
  </div>

  <div class="deposit_form">

    <!--  BEGIN network_type -->
    <div class="network_type_wrap">
      <label>network type</label>
      <div class="network_dropdown">

        <div class="network_dropdown_btn">

          <div class="upper">
            <span class="network_name">Select Network</span>
            <i class="fas fa-chevron-down"></i>
          </div>

          <div class="network_data">
            <span class="block_confirmations"><span class="pre_span">block confirmation/s : </span>0</span>
            <span class="minimum_deposit"><span class="pre_span">Min. deposit : </span>0.00<span class="post_span"> <%= cur_type %></span></span>
            <span class="est_arrival"><span class="pre_span">Est. arrival : </span>0<span class="post_span"> mins</span></span>
          </div>

        </div>

        <ul class="options">
          <% networks.forEach(network => { %>
          <li class="option">
            <span class="network_name"><%= network.name %></span>
            <div class="network_data">
              <span class="block_confirmations"><span class="pre_span">block confirmation/s : </span><%= network.block_confirmations %></span>
              <span class="minimum_deposit"><span class="pre_span">Min. deposit : </span><%= network.minimum_deposit %><span class="post_span"> <%= cur_type %></span></span>
              <% if (network.est_arrival != null) { %>
              <span class="est_arrival"><span class="pre_span">Est. arrival : </span><%= network.est_arrival %><span class="post_span"> mins</span></span>
              <% } %>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <!--  END network_type -->

    <!--  BEGIN key -->
    <div class="key_wrap">
      <label>secret key</label>
      <input type="text" name="key" placeholder="Enter your secret key" required spellcheck="false" maxlength="100" />
    </div>
    <!--  END key -->
      
    <button id="deposit_btn">DEPOSIT</button>

  </div>
</div>

<% } else {%>
<div class="no_wallets"><%= locals.cur_type %></div>
<% } %>

<div id="snackbar">copied</div>

<%- include("./parts/footer.ejs" ,
{showScroller:false, scripts: ['/js/simplebar.min.js'] , moduleScripts: ['/js/specific_deposit.js'] })%>