<%- include("./parts/navbar.ejs" , {title : `Confirm Upgrade`,showScroller:false,
isLoggedIn : locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin?
isAdmin : false
,stylesheets:['/css/simplebar.css','/css/specific_confirm_upgrade.css']})
%>

<div class="main_wrapper">

  <div class="payment_wrap">
    <span class="hd_title">Pay To Address</span>
    <span class="deposit_address"><%= dep_address %></span>
    <span class="amount"><span class="pre_span">Amount : </span><%= price %> <span class="post_span"><%= cur_type %></span></span>
    <span class="network_name"><span class="pre_span">Network : </span><%= network_name %></span>
    <span class="vip_type" style="display: none;"><%= vip_type %></span>
  </div>

  <div class="confirm_wrap">
    <span class="conf_note">* After payment is completed and confirmed , copy the <span class="t_id">Transaction ID/Hash</span> or <span class="t_id">TXID</span> into the below section to confirm your transaction .</span>
    <input type="text" name="transaction_id" placeholder="Enter Transaction ID/Hash ( TXID )" class="transaction_id" spellcheck="false" maxlength="1000">
    <button id="transaction_id_btn">Confirm Transaction</button>
  </div>

</div>


<div id="snackbar">copied</div>


<%- include("./parts/footer.ejs" ,
{showScroller:false, scripts: ['/js/simplebar.min.js'] ,moduleScripts: ['/js/specific_confirm_upgrade.js'] })%>