<%- include("./parts/navbar.ejs" , {title : 'Transfer',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,stylesheets:['https://cdn.cryptofonts.com/1.3.5/cryptofont.css','/css/spinner.css','/css/transfer.css']}) %>


<% if (locals.wallets && locals.wallets.length > 0) { %>

<p class="head_note">Available assets to transfer</p>
<div class="transfer-buttons">

  <% locals.wallets.forEach(wallet => { %>

  <a href="/transfer/cur_type/<%= wallet.currency %>" class="transfer_btn">
    <div class="cur_data">
      <img src="<%= wallet.img %>" />
      <span class="cur_type"><%= wallet.currency %></span>
    </div>
    <div class="amount_div">
      <span>Available</span><span class="cur_amount"> <%= wallet.available %> </span>
    </div>
  </a>

  <% }) %>

</div>

<% } else {%>

<div class="no_wallets">
  <h4>you have no assets</h4>
  <p>you can deposit NOW</p>
  <a href="/deposit">Deposit</a>
</div>

<% } %>


<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/transfer.js'] })%>