<%- include("./parts/navbar.ejs" , {title : 'Transfer',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt,stylesheets:['/css/transfer.css']}) %>


<% if (locals.wallets && locals.wallets.length > 0) { %>

<p class="head_note"><%= tit %></p>
<div class="transfer-buttons">

  <% locals.wallets.forEach(wallet => { %>

  <a href="/transfer/cur_type/<%= wallet.currency %>" class="transfer_btn">
    <div class="cur_data">
      <img src="<%= wallet.img %>" />
      <span class="cur_type"><%= wallet.currency %></span>
    </div>
    <div class="amount_div">
      <span><%= av1 %></span><span class="cur_amount"> <%= wallet.available %> </span>
    </div>
  </a>

  <% }) %>

</div>

<% } else {%>

<div class="no_wallets">
  <h4><%= no_assts %></h4>
  <p><%= can_dep_now %></p>
  <a href="/deposit"><%= dep %></a>
</div>

<% } %>


<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/transfer.js'] })%>