<%- include("./parts/navbar.ejs" , {title : 'Upgrade',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,stylesheets:['/css/simplebar.css','/css/spinner.css','/css/upgrade.css']}) %>


<% if (locals.vip > -1 && locals.vipType){ %>

<h3 class="head_note">your membership is <span><%= vipType %></span> </h3>

<% } %>

<% if (locals.membershipsArray) { %>

<% membershipsArray.forEach(membership => { %>

<div class="mem_wrap">
  <div class="mem_data">
    <img class="logo" src="<%= membership.img %>" />
    <div class="limits">
      <span> ~ Limits ~ </span>
      <div>
      <% if (membership.number == 0) { %>
       
        <p>* WITHDRAW : <%= membership.max_withdraw %> . </p>
        <p>* DEPOSIT : <%= membership.max_deposit %> . </p>
        <p>* TRANSFER : <%= membership.max_transfer %> . </p>
        <p>* RECEIVE : USDT ( <%= membership.max_receive %> ) /wallet . </p>
        
      <% } else {%>

        <p>* WITHDRAW : USDT ( <%= membership.max_withdraw %> ) /daily . </p>
        <p>* DEPOSIT : USDT ( <%= membership.max_deposit %> ) /daily . </p>
        <p>* TRANSFER : <%= membership.max_transfer %> . </p>
        <p>* RECEIVE : <%= membership.max_receive %> . </p> 
        
      <% } %> 

      </div>
    </div>

    <% if (vip >= membership.number) { %>
    <div class="granted">
      <img src="/tick.png" />
      <span>GRANTED</span>
    </div>
    <% } else { %>
    <div>
      <a href="/upgrade/membership/<%= membership.type %>" class="upgrade_btn">UPGRADE</a>
    </div>
    <% } %>

  </div>
</div>

<% }) %>

<% } %>


<%- include("./parts/footer.ejs" ,
{showScroller:false,scripts: ['/js/simplebar.min.js'], moduleScripts: ['/js/upgrade.js'] })%>