<%- include("./parts/navbar.ejs" , {title : 'Upgrade',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt,stylesheets:['/css/simplebar.css','/css/upgrade.css']}) %>


<% if (locals.vip > -1 && locals.vipType){ %>

<h3 class="head_note"><%= tit %><span><%= vipType %></span> </h3>

<% } %>

<% if (locals.membershipsArray) { %>

<% membershipsArray.forEach(membership => { %>

<div class="mem_wrap">
  <div class="mem_data">
    <img class="logo" src="<%= membership.img %>" />
    <div class="limits">
      <span><%= lmts %></span>
      <div>
        <% if (membership.number == 0) { %>

        <p><%= hwith %><%= membership.max_withdraw %> . </p>
        <p><%= dep %><%= membership.max_deposit %> . </p>
        <p><%= trans %><%= membership.max_transfer %> . </p>
        <p><%= rec %>USDT ( <%= membership.max_receive %> ) <%= per_wlt %> . </p>
        <% } else {%>

        <p><%= hwith %>USDT ( <%= membership.max_withdraw %> ) <%= daily %> . </p>
        <p><%= dep %>USDT ( <%= membership.max_deposit %> ) <%= daily %> . </p>
        <p><%= trans %><%= membership.max_transfer %> . </p>
        <p><%= rec %><%= membership.max_receive %> . </p>

        <% } %>

      </div>
    </div>

    <% if (vip >= membership.number) { %>
    <div class="granted">
      <img src="/tick.png" />
      <span><%= grntd %></span>
    </div>
    <% } else { %>
    <div>
      <a href="/upgrade/membership/<%= membership.type %>" class="upgrade_btn"><%= btn %></a>
    </div>
    <% } %>
    <span class="btm_note"><%= btm_note %></span>

  </div>
</div>

<% }) %>

<% } %>


<%- include("./parts/footer.ejs" ,
{showScroller:false,scripts: ['/js/simplebar.min.js'], moduleScripts: ['/js/upgrade.js'] })%>