<%- include("./parts/navbar.ejs" , {title : 'Withdraw',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt
,stylesheets:['/css/withdraw.css']})
%>

<% if (locals.wallets && locals.wallets.length > 0) { %>
<% locals.wallets.forEach(wallet => { %>

<div class="wallet_container">
  <span><%= cur_tp %></span>
  <div class="cur_data">
    <img src="<%= wallet.img %>" />
    <span class="cur_type"><%= wallet.currency %></span>
  </div>
  <div class="amount_div">
    <span><%= av %></span><span class="cur_amount"> <%= wallet.available %> </span>
  </div>
  <a href="/withdraw/cur_type/<%= wallet.currency %>" class="withdraw_btn"><%= btn %></a>
</div>

<% }) %>
<% } else {%>

<div class="no_wallets">
  <h4><%= no_wlts %></h4>
  <p><%= can_dep_now %></p>
  <a href="/deposit"><%= dep %></a>
</div>

<% } %>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/withdraw.js'] })%>